body {
  background-color: black;
}

#container {
  width: 100%;
  text-align:center;
}

#youLose {
  top: 45%;
  width: 701px;
  height: 120px;
  margin: 0 auto;
  background-color: #abdda300;
  display: none;
  color: rgba(118, 8, 8, 0.95);
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  background-image: url('./image/YOUL.png');
  background-size: cover;
}

table,
tr,
td {
  border: 1px solid hsla(0, 2%, 7%, 0.63);
  background-color: hsla(0, 0%, 99%, 0.16)
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 30px;
}

td {
  width: 30px;
}

.snake {
  background-image: url('./image/snakeFace.png');
  background-size: cover;
}

.snake-tail {
  background-image: url('./image/toxico.png');
  background-size: cover;
}

.snake2 {
  background-color: blue;
  background-size: cover;
}

.snake2-tail {
  background-color: blue;
  background-size: cover;
}

.apple {
  background-image: url('./image/manzana1.png');
  background-size: cover;
}

.obstacle {
  background-image: url('./image/ostaculo.jpg.png');
  background-size: cover;
}

#title {
  width: 620px;
  margin: 0 auto;
}

#logo {
  width: 100px;
  display: inline-block;
  margin-left: 0px;
  margin-right: 16px;
}

#Titulo {
  width: 252px;
  display: inline-block;
  margin-left: 49px;
  margin-right: 26px;
  margin-bottom: 30px;
}

#scoreboard {
  background-image: url('./image/scoreL.jpg');
  background-size: cover;
  border: #4a5b44 5px solid;
  width: 140px;
  height: 90px;
  display: inline-block;
  vertical-align: top;
}

#yourScore, #yourScore2 {
  font-family: Arial, Helvetica, sans-serif;
  color: yellow;
  font-weight: bold;
  font-size: 12px;
  vertical-align: center;
  height: 25px;
  width: 130px;
}

body{
  background-image: url('./image/fondo2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
