body {
  background-color: black;
}
#container {
  width: 100%;
  text-align:center;
}

#youLose {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  background-color: red;
  display: none;
}

h1 {
  text-align: center;
  color: rgb(68,131,219);
  font-family: Arial, Helvetica, sans-serif;
}

table,
tr,
td {
  border: 1px solid hsl(215, 68%, 56%);
  background-color: hsl(215, 68%, 65%);
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  /* -webkit-box-shadow: 10px 10px 35px 5px hsl(35, 68%, 86%);
      -moz-box-shadow: 10px 10px 35px 5px hsl(35, 67%, 86%);
      box-shadow: 10px 10px 35px 5px hsl(35, 68%, 86%); */
}

tr {
  height: 15px;
}

td {
  width: 15px;
}

.snake {
  background-color: hsl(120, 100%, 25%);
}

.snake-tail {
  background-color: hsl(120, 100%, 70%);
}

.apple {
  background-color: red;
}

#title {
  width: 345px;
  margin: 0 auto;
}

h1 {
  display: inline-block;
  width: 68%;
  font-size: 30px;
  text-align: left;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  width: 30%;
  display: inline-block;
  font-size: 15px;
  text-align: right;
}
h1,h3 {
  line-height: 30px;
  vertical-align: middle;
}